p,ul {font-family: Tahoma,sans-serif; font-size: 14px; line-height:18px;color: #444444;}

.z {font-size:0; line-height:0; display:block; height:0}
.clr {clear: both; font-size:0; line-height:0; height:0} /* clearing <div class="clr"></div> */

.defList, .defList ul {margin:0 0 0 0; padding:0 0 0 20px; list-style:none !important}
.defList li {margin:0; padding:5px 0; clear:both}

/* Content Table */
.cTable td {padding:0 20px 20px 0}
.cTableB {border-top:1px solid #666; border-left:1px solid #666}
.cTableB td {padding:5px; border-right:1px solid #666; border-bottom:1px solid #666}
.cTableB th {padding:5px; border-right:1px solid #666; border-bottom:1px solid #666; text-align:left}

.tabbable .nav-pills {margin-top:-30px}

.b-contact-table td {vertical-align:top; width:33%}

img{max-width:none;}

.post-title,
.post-title a,
.post-title span {
    margin: 0px;
    font-family: Verdana;
    color: #444444;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.post-subtitle,
.post-subtitle a,
.post-subtitle span {
    margin: 0px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 15px;
}
.post-p {
    font-family: Arial;
    font-size: 14px;
    color: #444444;
    line-height: 16px;
}
.post-a {
    color: #2177c9;
    text-decoration: underline;
}
.post-a:hover {
    text-decoration: none;
}
.post-a-this-page {
    color: #2177c9;
    text-decoration: none;
    border-bottom: 1px dashed;
}
.post-a-this-page:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}
.post-image img {
    max-width: 100%;
    height: auto;
    margin: 2px 0px;
}
.post-image-img {
    max-width: 100%;
    height: auto;
    margin: 2px 0px;
}
.post-text {
    margin: 0px;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin-bottom: 15px;
}