/*Шнапка*/
#header {
    /*height: 180px;*/
}

.header-bottom {
    position: relative;
    min-height: 150px;
    margin-top: -2px; /*перекрыть прозрачность в верхнем меню*/
    padding-top: 2px;
    z-index: 2;
    background: #130600;
}

.top-box {
    position: relative;
    background: #f7f7f7;
    z-index: 3;
}

/*Верхнее меню*/
.top-menu {
    float: left;
}
.top-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.top-menu li {
    float: left;
    margin-left: 20px;
}
.top-menu li:first-child {
    margin-left: 0px;
}
.top-menu a {
    font-family: Tahoma;
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    color: #444444;
    padding: 0px 3px;
    text-decoration: underline;
}
.top-menu .active a, .top-menu a:hover {
    text-decoration: none;
    background: #e3e2e2;
}
.right-top-box {
    float: right;
}

.toggle-language a {
    font-family: Tahoma;
    display: block;
    height: 26px;
    line-height: 25px;
    font-size: 13px;
    color: #444444;
    padding: 0px 8px;
    text-decoration: underline;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.toggle-language a:hover, .toggle-language a.active {
    text-decoration: none;
    background: #e3e2e2;
}
.header-data {
    min-height: 98px;
}
.logo {
    float: left;
    max-width: 317px;
    margin-top: 33px;
}
.logo img {
    width: 100%;
}
/*Контакты в шапке*/
.header-contacts {
    float: right;
    font-family: Arial;
    /*font-family: Tahoma;*/
    color: #fff;
    margin-top: 33px;
}
.header-contacts .phones,
.header-contacts .box-contacts-btns {
    float: left;
}
.header-contacts .phones {
    font-size: 17px;
    line-height: 19px;
    font-weight: bold;
    padding-left: 30px;
    background: url("/themes/application/images/app/ico-phone-white-22x24.png") 0px 50% no-repeat;
}
.header-contacts .phone {
    margin-bottom: 5px;
}
.header-contacts .box-contacts-btns {
    font-size: 13px;
    font-weight: bold;
    margin-left: 30px;
}
.header-contacts .email {
    margin-bottom: 5px;
}
.header-contacts .box-contacts-btns a,
.header-contacts .box-contacts-btns span {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed;
}
.header-contacts .box-contacts-btns a:hover,
.header-contacts .box-contacts-btns span:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: pointer;
}
.header-contacts .box-contacts-btns .separator {
    text-decoration: none;
    border-bottom: transparent;
    margin: 0px 5px;
}
.header-contacts .box-contacts-btns .separator:hover {
    border-bottom: transparent;
}

/*Главное меню*/
.main-menu {
    margin-bottom: 0px;
}
.menu-title {
    font-family: Tahoma;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    display: none;
    float: left;
    margin-left: 10px;
}
.navbar-nav {
    margin: 0px;
}
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    margin: auto;
}
.main-menu .container-fluid,
.main-menu .navbar-collapse,
.main-menu.navbar-default {
    padding: 0px;
    background: none;
    border: none;
    box-shadow: none;
}
.main-menu-ul li {
    margin-left: 25px;
}
.main-menu-ul li:first-child {
    margin-left: 0px;
}
.main-menu-ul a {
    padding: 0px;
}
.main-menu-ul a,
.main-menu.navbar-default .navbar-nav>li>a {
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    height: 50px;
    text-transform: uppercase;
    padding: 0px;
    line-height: 50px;
}
.main-menu.navbar-default .navbar-nav>li>a:hover,
.main-menu.navbar-default .navbar-nav>li.active>a,
.main-menu.navbar-default .navbar-nav>li.dropdown.open>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus {
    background: none;
    color: #ffd376;
}
.main-menu .dropdown-toggle:focus {
    background: none;
}
/*второй уровень*/
.main-menu .dropdown-menu {
    box-shadow: none;
    border: none;
    padding: 10px 0px;
    border-radius: 0px;
    background: #f2f2f2;
}
.main-menu .dropdown-menu > li {
    margin: 0px;
    margin-bottom: 2px;
 }
.main-menu .dropdown-menu > li a {
    font-size: 12px;
    color: #444444;
    padding: 12px;
    text-transform: lowercase;
    line-height: 12px;
    height: auto;
    text-decoration: underline;
}
.main-menu .dropdown-menu > li a:hover,
.main-menu .dropdown-menu > li.active a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background: url("/themes/application/images/app/bg-btn-1.jpg") 50% 100% repeat-x;
}
/*Адаптивность*/
@media (max-width: 767px) {
    .main-menu-ul a,
    .main-menu.navbar-default .navbar-nav>li>a {
        height: 30px;
        line-height: 30px;
    }
    .main-menu .container-fluid {
        /*background: url("/themes/application/images/app/bg-dino-skin.jpg") 50% -100px repeat-x;*/
        background: #130600;
    }
    .container-fluid>.navbar-collapse li {
        margin: 0px;
    }
    .menu-title {
        display: block;
    }
    .main-menu-ul {
        padding: 0px 10px;
    }
    /*второй уровень*/
    .main-menu .dropdown-menu {
        padding: 0px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        background: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a {
        color: #ffd376;
        background: none;
    }
}

/*Попап заказа звонка, написать нам, форма задать вопрос*/
.box-form-callback {

}
.box-form-callback .style-form-label,
.box-form-contact-us .style-form-label{
    width: 100px;
}
.box-form-contact-us .form-row-textarea label {
    width: auto;
}
.box-form-callback .style-form-text {
    width: 200px;
}
.box-form-callback .form-actions,
.box-form-contact-us .form-actions {
    text-align: center;
}
.box-form-contact-us .style-form-text {
    max-width: 330px;
}

.box-form-ask-question .style-form-text,
.box-form-ask-question .style-form-textarea {
    width: 100%;
}
.box-form-ask-question .form-actions {
    text-align: center;
}
.box-form-ask-question .style-form-textarea {
    height: 140px;
}

/*Большой блок с картинкой на главной*/
.box-promo {
    position: relative;
    height: 640px;
    background: url("/themes/application/images/app/bg-box-promo.jpg") 50% 50% no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.box-promo .bg-box-promo {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.box-promo .bg-box-promo img {
    position: absolute;
}
.box-promo-content {
    position: relative;
    min-height: 640px;
}
.box-promo-items {
    width: 100%;
    position: absolute;
    bottom: 40px;
    margin: 0px -15px;
}
/*Промо блоки на главной в верху*/
.box-promo-item {
    position: relative;
    display: block;
    font-family: Verdana;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
    width: 285px;
    height: 165px;
    margin: auto;
    margin-top: 47px;
    z-index: 1;
}
.box-promo-item:hover {
    color: #fff;
    text-decoration: none;
}
.box-promo-item:focus {
    color: #fff;
}
.box-promo-item .promo-bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}
.box-promo-item .promo-item-content {
    position: relative;
    height: 150px;
    padding: 60px 10px 10px 12px;
    z-index: 1;
}
.box-promo-item .title {
    margin: 0px;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
}
.box-promo-item .text {
    font-size: 14px;
    line-height: 18px;
}
.box-promo-item .more {
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 12px;
    line-height: 14px;
    text-transform: lowercase;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
}
.box-promo-item:hover .more {
    text-decoration: none;
}

/*Новинки на главной*/
.box-new-items {
    padding: 45px 0px;
    background: url("/themes/application/images/app/bg-new-items.jpg") 50% 0px repeat;
}
.box-new-items .new-item {
    margin-bottom: 15px;
}
.box-new-items .title-new-item {
    margin: 0px 0px 10px 0px;
    height: 36px;
}
.box-new-items .title-new-item a {
    font-family: "OpenSans-Bold-wf";
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}
.box-new-items .duration-tour {
    font-family: Arial;
    font-size: 13px;
    line-height: 15px;
    color: #ffd376;
    margin-bottom: 10px;
}
.box-new-items .description {
    font-family: Arial;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    height: 60px;
}
/*Ленточка новые*/
.ribbon_ru,
.ribbon_en {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99px;
    height: 105px;
    background: url("/themes/application/images/app/ribbon-new-item_ru.png") no-repeat;
}
.ribbon_en {
    background: url("/themes/application/images/app/ribbon-new-item_en.png") no-repeat;
}

/*Блок с кнопками заказа и выбора тура*/
.box-select-tour {
    padding: 60px 0px;
    background: url("/themes/application/images/app/bg-box-select-tour-big.jpg") 50% 50% no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
}
.box-order-tour,
.box-pick-up-tour {
    width: 330px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.box-pick-up-tour {
    padding-top: 36px;
}
.box-select-tour .title {
    margin: 0px;
    font-family: Verdana;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.box-select-tour .subtitle {
    margin: 0px;
    font-family: Verdana;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 20px;
}
/*Адаптивность*/
@media (max-width: 991px) {
    .box-order-tour,
    .box-pick-up-tour {
        width: 100%;
    }
}

/*Блок с разной информацией на главной*/
.box-info-block {
    overflow: hidden;
    position: relative;
    padding: 60px 0px 40px 0px;
    background: url("/themes/application/images/app/bg-info-block.jpg") 50% 0px repeat;
}
.box-info-block .dino {
    position: absolute;
    width: 318px;
    height: 376px;
    top: 30px;
    right: 0px;
    background: url("/themes/application/images/app/dino.png") 0px 0px no-repeat;
}
.box-info-block .box-about {
    padding-right: 30px;
}
.box-info-block .box-about .text {
    max-height: 360px;
    overflow: hidden;
}
.box-info-block .box-about .text p {
    font-family: Verdana;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}
.box-info-block .box-more {
    text-align: right;
    margin-top: 10px;
}
.box-info-block .box-about .more {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}
.box-info-block .box-about .more:hover {
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}
.box-respond-btn {
    text-align: center;
}
/*Попап подписки*/
.sr-box-list li {
    padding: 0px !important;
}
.popup-respond .form-actions {
    text-align: center !important;
}
.sr-289011_26 {
    height: auto !important;
}
.popup-respond ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/*быстрые новости*/
.box-flash-news {
    font-family: Verdana;
    margin-bottom: 20px;
}
.box-flash-news li {
    margin-top: 30px;
}
.box-flash-news li:first-child {
    margin-top: 0px;
}
.box-flash-news .news-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.box-flash-news .text a {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}
.box-flash-news .text a:hover {
    text-decoration: none;
}
.box-flash-news .date {
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
}
.box-flash-news .all-news {
    margin-top: 10px;
    text-align: right;
}
.box-flash-news .all-news a {
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}
.box-flash-news .all-news a:hover {
    text-decoration: none;
}
/*быстрая галерея*/
.box-flash-photo-gallery .photo-item {
    margin-bottom: 30px;
}

/*Блок форма задать вопрос*/
.box-ask-question {
    padding: 40px 0px;
    background: #130600;
}
.box-ask-question .title {
    text-align: center;
    margin-bottom: 10px;
}
.box-ask-question .text {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 35px;
}
.box-ask-question .form-actions {
    margin-top: 20px;
}

/*Страница со списком туров*/
/*стили для списка в стандартных элементах*/
.controller_tour .box-select-tour {
    background: url("/themes/application/images/app/bg-box-select-tour.jpg") 50% 0px no-repeat;
}
.controller_tour .box-pick-up-tour {
    padding-top: 0px;
    margin-bottom: 0px;
}
/*на странице тура, сувенира*/
.tour-show .item-parameter,
.souvenir-show .item-parameter {
    margin-bottom: 45px;
}
.tour-show .item-parameter .title,
.souvenir-show .item-parameter .title {
    margin: 0px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    color: #444444;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}
.tour-show .item-parameter .text,
.souvenir-show .item-parameter .text {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
}
.tour-show .item-parameter .price-item,
.souvenir-show .item-parameter .price-item {
    margin-top: 10px;
}
.tour-show .item-parameter .price-item:first-child,
.souvenir-show .item-parameter .price-item:first-child {
    margin-top: 0px;
}
.tour-show .price-box .label-price,
.souvenir-show .price-box .label-price {
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #444444;
    width: 85px;
    vertical-align: middle;
}
.tour-show .price-box .price,
.souvenir-show .price-box .price {
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    vertical-align: middle;
}
/*Галерея в туре*/
.gallery-hidden {
    visibility: hidden;
}
.tour-show .lSSlideOuter .img-big-thumb {
    text-align: center;
    margin: auto;
}
.tour-show .lSSlideOuter .img-big-thumb img {
    width: 100%;
}
.tour-show .lSSlideOuter .lSPager.lSGallery {
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
/*.tour-show .lSSlideOuter .lSPager.lSGallery li {*/
    /*width: 100% !important;*/
/*}*/
.tour-show .lSSlideOuter .lSPager.lSGallery a {
    width: 120px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tour-show .lSSlideOuter .lSPager.lSGallery a img {
    display: inline-block;
}
.lSAction > a {
    z-index: 11;
    background: url("/themes/application/images/app/controls.png");
}
/*содержание тура*/
.box-tour-content table {
    width: 100%;
}
.box-tour-content table tr td {
    border-bottom: 1px solid #cacaca;
    padding: 10px 0px 3px 0px;
    position: relative;
}
.box-tour-content table tr:first-child td {
    font-family: Verdana;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    color: #444444;
}
.box-tour-content table tr td:first-child {
    border-bottom: transparent;
    padding-right: 20px;
    width: 90px;
    text-align: center;
}
.box-tour-content .ico-clock {
    width: 19px;
    height: 18px;
    background: url("/themes/application/images/app/ico-clock-gray-19x18.png") no-repeat;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.box-tour-content .ico-clip {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 0px;
    width: 18px;
    height: 19px;
    background: url("/themes/application/images/app/ico-clip-gray-18x19.png") no-repeat;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.box-tour-content .time {
    margin: 0px;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    vertical-align: middle;
}
.box-order-tour-btn {
    text-align: center;
    padding: 50px 0px;
}

/*Попап заказа тура*/
.box-form-tour-order {
    max-width: 510px;
}
.box-form-tour-order .select-tour-title {
    margin-bottom: 25px;
}
#TourOrder_selected_tours {
    padding-left: 35px;
    margin-bottom: 40px;
}
#TourOrder_selected_tours label {
    width: 50%;
    margin-bottom: 15px;
    vertical-align: top;
}
#TourOrder_selected_tours label span {
    vertical-align: middle;
    line-height: 14px;
}
#TourOrder_selected_tours .style-form-checkbox {
    margin-right: 7px;
    float: left;
}
.box-form-tour-order .form-row-wishes {
    margin-bottom: 35px;
}
.box-form-tour-order .form-row-wishes label {
    display: block;
    margin-bottom: 10px;
}
.box-form-tour-order .form-row-wishes .style-form-textarea {
    width: 100%;
    height: 140px;
}
.box-form-tour-order .order-add-options {
    width: 100%;
    margin-bottom: 40px;
}
.box-form-tour-order .order-add-options td {
    padding-bottom: 10px;
}
.box-form-tour-order .contacts-section-start td {
    padding-top: 30px;
}
.box-form-tour-order .style-form-select .jq-selectbox__select {
    width: 100px;
}
.box-form-tour-order .order-add-options .td-label{
    text-align: right;
    padding-right: 15px;
}
.box-form-tour-order .order-add-options .style-form-text {
    max-width: 210px;
}
.box-form-tour-order .form-actions {
    text-align: center;
}
.box-form-tour-order .form-actions input {
    margin: 0px 10px;
}

/*Отзывы*/
.box-review {

}
.box-review .top {
    border-bottom: 1px solid #cacaca;
}
.box-review .tab-title {
    margin: 0px;
    font-family: Verdana;
    color: #444444;
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    background: #fff;
    padding: 8px 20px;
    border: 1px solid #cacaca;
    float: left;
    margin-bottom: -1px;
}
.box-get-form-review-btn {
    margin: 20px 0px;
}
.get-form-review-btn {
    font-family: Verdana;
    font-size: 15px;
    line-height: 17px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.get-form-review-btn:hover {
    border-bottom: 1px dashed;
}
.box-get-form-review-btn .arrow {
    vertical-align: middle;
    width: 7px;
    height: 8px;
    background: url("/themes/application/images/app/arrow-right-down-brown-14x8.png") 0px 0px no-repeat;
}
.box-get-form-review-btn .arrow.open {
    background: url("/themes/application/images/app/arrow-right-down-brown-14x8.png") -7px 0px no-repeat;
}
.box-form-review {
    margin-bottom: 20px;
    display: none;
}
.box-form-review label {
    display: block;
}
.box-form-review .name-sender-label {
    display: inline-block;
}
.box-form-review .style-form-text,
.box-form-review .style-form-textarea {
    width: 100%;
    border: 1px solid #999999;
}
.box-form-review .name-sender-text {
    max-width: 300px;
}
.box-form-review .style-form-textarea {
    height: 100px;
}
.review-item {
    margin-top: 15px;
    font-family: Tahoma;
    background: #fff;
    padding: 15px;
    border: 1px solid #cacaca;
    border-radius: 3px;
}
.review-item:first-child {
    margin-top: 0px;
}
.review-item .top-review-item {
    margin-bottom: 10px;
}
.review-item .name-sender {
    font-size: 16px;
    line-height: 18px;
    margin-right: 10px;
}
.review-item .date {
    color: #777777;
    font-size: 13px;
}
.review-item .text {
    color: #444444;
    font-size: 13px;
    line-height: 17px;
}

/*Новости*/
/*на страние одной новости*/
.box-news-single .title {
    font-family: Tahoma;
    color: #444;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
}
.box-news-single .date {
    font-size: 13px;
    margin-bottom: 30px;
}
.box-news-single .text {
    font-size: 15px;
    margin-bottom: 10px;
}

/*Фотоальбомы*/
.title-photo-video a {
    text-decoration: underline;
}
.title-photo-video .active, .title-photo-video a:hover {
    text-decoration: none;
}
.box-album-list .title-album {
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
}
.box-album-list .title-album a {
    font-family: Verdana;
    color: #444444;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
}
.box-album-list .box-album {
    margin-top: 35px;
}
.box-album-list .box-album:first-child {
    margin-top: 0px;
}
.box-album-list .box-album-images {
    margin-bottom: 5px;
}
.box-album-images {
    margin-left: -10px;
    margin-right: -10px;
}
.box-album-images .box-img {
    float: left;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.box-all-images-btn {
    text-align: right;
}
.box-all-images-btn a {
    color: #444444;
    font-size: 15px;
    text-decoration: underline;
}
.box-all-images-btn a:hover {
    color: #444444;
    text-decoration: none;
}
/*Видеоальбом*/
.box-video-list {
    margin: 0px -15px;
}
.box-video {
    width: 238px;
    padding: 0px 15px;
    margin-bottom: 20px;
}
.box-video .video-cover {
    margin-bottom: 8px;
}
.video-cover img {
    width: 100%;
}
.box-video .name {
    height: 35px;
}
.box-video .name a {
    font-size: 14px;
    line-height: 18px;
    color: #2177c9;
}

/*Страница сувениров*/
.box-souvenir {
    margin: 0px -15px;
}
.box-single-souvenir {
    width: 237px;
    padding: 0px 15px;
    margin-bottom: 30px;
}
.box-single-souvenir .box-img {
    display: table-cell;
    width: 207px;
    height: 207px;
    vertical-align: middle;
    text-align: left;
    /*text-align: center;*/
    /*border: 1px solid #989899;*/
    /*background: #fff;*/
}
.box-single-souvenir .box-img img {
    width: 100%;
    max-width: 205px;
}
.box-single-souvenir .name {
    margin: 0px;
    margin-bottom: 8px;
    margin-top: 15px;
    height: 35px;
    font-size: 14px;
}
.box-single-souvenir .name a {
    color: #444444;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}
.box-single-souvenir .name a:hover {
    text-decoration: none;
}
.box-single-souvenir .price {
    font-family: Arial;
    font-size: 13px;
    color: #444444;
    margin-bottom: 8px;
}
.box-single-souvenir .price span {
    font-weight: bold;
}
/*Страница одного сувенира*/
/*некоторые стили находятся в разделе тура*/
.souvenir-show .item-parameter .label-price {
    width: 100%;
    max-width: 145px;
}
.souvenir-show .item-parameter table {
    border-collapse: separate;
    border-spacing: 0px 5px;
}
.souvenir-show .item-parameter table td {
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #cacaca;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    vertical-align: middle;
}
.souvenir-show .item-parameter table tr td:first-child {
    max-width: 150px;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #444444;
    border: none;
    border-radius: 0px;
    background: none;
    padding: 0px;
    padding-right: 5px;
    vertical-align: middle;
}
/*галерея в сувенире*/
.souvenir-show .lSSlideOuter {
    max-width: 450px;
    width: 100%;
    margin: auto;
}
.souvenir-show .lSSlideWrapper {
    height: 300px;
    /*border: 1px solid #cacaca;*/
    /*background: #fff;*/
}
.souvenir-show .lSSlideOuter .img-big-thumb {
    height: 300px;
    text-align: center;
    margin: auto;
}
.souvenir-show .lSSlideOuter .img-big-thumb a {
    width: 450px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
}
.souvenir-show .lSAction > a {
    background-image: url("/themes/application/images/app/controls-gray.png");
}
.souvenir-show .lSPrev a {
    background-position: -32px 0;
}
.souvenir-show .lSSlideOuter .lSPager.lSGallery {
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.souvenir-show .lSSlideOuter .lSPager.lSGallery a {
    width: 120px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.souvenir-show .lSSlideOuter .lSPager.lSGallery a img {
    display: inline-block;
}
/*Попап заказа сувенира*/
.box-form-souvenir-order {
    max-width: 450px;
}
.box-form-souvenir-order .souvenir-data {
    margin-bottom: 20px;
}
.box-form-souvenir-order .img-souvenir {
    text-align: center;
}
.box-form-souvenir-order .img-souvenir img {
    width: 100%;
    max-width: 200px;
}
.box-form-souvenir-order .name-title,
.box-form-souvenir-order .price-title {
    margin: 0px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    color: #444444;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}
.box-form-souvenir-order textarea {
    resize: none;
    height: 80px;
}
.box-form-souvenir-order .name-title span,
.box-form-souvenir-order .price-title span {
    font-weight: normal;
}
.box-form-souvenir-order .form-actions {
    text-align: center;
}

/*Попап подбора тура*/
.box-form-tour-selection {
    max-width: 508px;
}
.box-form-tour-selection textarea {
    height: 80px;
}
.form-row.tourism-prefer label {
    margin-bottom: 20px;
}
#TourSelection_tourism_prefer,
#TourSelection_our_tours {
    padding-left: 35px;
}
#TourSelection_tourism_prefer label,
#TourSelection_our_tours label {
    width: 50%;
    margin-bottom: 15px;
    vertical-align: top;
}
#TourSelection_tourism_prefer label span,
#TourSelection_our_tours label span {
    vertical-align: middle;
    line-height: 14px;
}
#TourSelection_tourism_prefer .style-form-checkbox,
#TourSelection_our_tours .style-form-checkbox {
    margin-right: 7px;
    float: left;
}
.box-form-tour-selection .form-actions {
    text-align: center;
}

/*Это интересно*/
.tour-interesting-assignmen-widget {
    margin-top: 60px;
}
.tour-interesting-assignmen-widget .box-single-item {
    text-align: center;
}
.tour-interesting-assignmen-widget .title {
    margin: 0px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    color: #444444;
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}


/*Контакты*/
.box-form-contact {
    padding: 50px 0px;
    background: url("/themes/application/images/app/bg-box-select-tour.jpg") 50% 0px no-repeat;
}
.contact-subtitle {
    margin: 0px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 15px;
}
.contact-p, .contact-a {
    font-family: Arial;
    font-size: 14px;
    color: #444444;
    line-height: 16px;
}
.contact-a {
    color: #2177c9;
    text-decoration: underline;
}
.contact-a:hover {
    text-decoration: none;
}


/*Футер*/
#footer {
    font-family: Tahoma;
    color: #fff;
    font-size: 12px;
    padding: 30px 0px;
    background: #130600;
}
.footer-content {
    position: relative;
    height: 180px;
}
.footer-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-height: 170px;
    width: 300px;
}
.footer-menu li {
    width: 50%;
    margin-bottom: 5px;
    float: left;
}
.footer-menu li.active a {
    color: #ffd376;
}
.footer-menu a {
    font-family: Tahoma;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}
.footer-menu a:hover {
    text-decoration: none;
}
#footer .soc-btns {
    line-height: 25px;
    text-align: right;
}
#footer .vk-btn, #footer .fb-btn {
    width: 25px;
    height: 25px;
    background: url("/themes/application/images/app/soc-btns.png") 0px 0px no-repeat;
}
#footer .fb-btn {
    margin-left: 5px;
    background: url("/themes/application/images/app/soc-btns.png") -34px 0px no-repeat;
}
#footer .vk-btn:hover,
#footer .fb-btn:hover {
    opacity: 0.9;
}
#footer .dev {
    position: absolute;
    bottom: 0px;
    right: 15px;
    line-height: 15px;
}
#footer .dev span {
    text-transform: lowercase;
}
#footer .dev img {
    vertical-align: middle;
}
#footer .dev a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
}
#footer .dev a:hover {
    text-decoration: none;
}
/*Адаптивность*/
@media (max-width: 992px) {
    .footer-menu ul {
        width: auto;
        margin: 10px 0px;
        height: auto;
    }
    .footer-menu li {
        float: none;
        width: auto;
        margin-right: 10px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
    }
    #footer .soc-btns {
        text-align: left;
    }
}