*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    background: #ededee;
}
/*body.controller_home.action_index {*/
    /*background: url("/themes/application/images/app/bg-box-select-tour-big.jpg") 50% 0px no-repeat;*/
    /*background-attachment: fixed;*/
/*}*/
.home-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home-bg img {
    position: absolute;
}
@font-face {
    font-family: "OpenSans-Bold-wf";
    src: url("/themes/application/fonts/spensans-bold.ttf");
}
@font-face {
    font-family: "OpenSans-Semibold-wf";
    src: url("/themes/application/fonts/opensans-semibold.ttf");
}
@font-face {
    font-family: "OpenSans-ExtraBold-wf";
    src: url("/themes/application/fonts/opensans-extrabold.ttf");
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -240px;
    width: 100%;
    /*min-width: 940px;*/
}

#footer {
    height: 240px;
}

#push {
    height: 240px
}
.hid {
    opacity:0;
}
.visi {
    opacity:1;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.ib {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

img {
    vertical-align: top;
    border: none;
}

input, textarea, button, select {
    outline: none
}

a, a:focus {
    outline: none;
}

.site-content {
    width: 940px;
    margin: auto;
}
.site-content:before,
.site-content:after {
    content: " ";
    display: table;
}
.site-content:after {
    clear: both;
}
.site-content {
    *zoom: 1;
}

.inner-content {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Заголовки*/
.title-main,
.title-main a,
.title-main span{
    margin: 0px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.title-page, .title-page a {
    margin: 0px;
    font-family: Verdana;
    color: #444444;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/*стили для кожи динозавра*/
.box-dino-skin {
    position: relative;
    background: url("/themes/application/images/app/bg-dino-skin.jpg") 50% 0px;
    z-index: 2;
}
.box-dino-skin:before, .box-dino-skin:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 167px;
    left: 0px;
    z-index: -1;
}
.box-dino-skin:before {
    top: 0px;
    background: url("/themes/application/images/app/bg-red-fire-top.png") 50% 0px no-repeat;
}
.box-dino-skin:after {
    bottom: 0px;
    background: url("/themes/application/images/app/bg-red-fire-bottom.png") 50% 0px no-repeat;
}


/*Формы, кнопки*/
/*чекбоксы*/
.style-form-checkbox {
    width: 17px;
    height: 17px;
    border: 1px solid #999999;
    border-radius: 0px;
    box-shadow: none;
    background: #fff;
    /*background: url("/themes/application/images/app/checkbox.png") 0px 0px no-repeat;*/
}
.style-form-checkbox.checked .jq-checkbox__div {
    width: 15px;
    height: 15px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    background: url("/themes/application/images/app/checkbox.png") -15px 0px no-repeat
}
/*селекты*/
.style-form-select {
    min-width: 100px;
}
.style-form-select .jq-selectbox__select {
    background: #fff;
    border: 1px solid #999999;
    box-shadow: none;
    border-radius: 0px;
    text-shadow: none;
}
.style-form-select.focused .jq-selectbox__select {
    border: 1px solid #999999;
}
.style-form-select .jq-selectbox__trigger {
    border-left: none;
    height: 26px;
}
.style-form-select .jq-selectbox__trigger-arrow {
    border-top-color: #999999;
    opacity: 1;
}
.style-form-select .jq-selectbox__dropdown {
    background: #fff;
    border: 1px solid #999999;
    box-shadow: none;
    border-radius: 0px;
    text-shadow: none;
    margin-top: -4px;
}
.style-form-select .jq-selectbox__dropdown ul {
    height: auto;
}
.style-form-select .jq-selectbox__dropdown li:hover {
    background: #999999;
}
/*текстовые поля*/
.style-form-label {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    font-weight: normal;
}
.style-form-text, .style-form-textarea {
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    color: #444444;
    padding: 10px 10px;
    background: #fff;
    border: 3px solid #eeeeee;
}
.style-form-text::-webkit-input-placeholder,
.style-form-textarea::-webkit-input-placeholder {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    color: #444444;
}
.style-form-text:-moz-placeholder,
.style-form-textarea:-moz-placeholder {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    color: #444444;
}
.style-form-text.placeholder,
.style-form-textarea.placeholder {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    color: #444444;
}
.style-form-textarea {
    resize: none;
}
/*Датапикер*/
.datepicker.dropdown-menu {
    font-family: Verdana;
    border-radius: 0px;
}
.datepicker table tr td,
.datepicker table tr th {
    border-radius: 0px;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active {
    background: #444;
}
/*Формы кнопки внутри попапов*/
.box-popup .style-form-label {
    font-family: Tahoma;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    font-weight: normal;
}
.box-popup .style-form-text,
.box-popup .style-form-textarea {
    padding: 5px;
    border: 1px solid #999999;
}
.form-row {
    margin-bottom: 10px;
}
.errorMessage {
    color: #c71c22;
    font-size: 12px;
    line-height: 14px;
}
/*кнопки*/
.style-btn {
    font-family: Verdana;
    font-weight: bold;
    font-size: 10px;
    line-height: 31px;
    width: 178px;
    height: 32px;
    border: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.70);
    text-decoration: none;
    border-radius: 16px;
    background: url("/themes/application/images/app/bg-btn-submit.png") 50% 0px repeat-x;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    cursor: pointer;
}
.style-btn:hover {
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
}
.style-btn.style-btn-cancel {
    background: url("/themes/application/images/app/bg-btn-cancel.png") 50% 0px repeat-x;
}
.style-btn.style-btn-big {
    font-size: 16px;
    line-height: 48px;
    width: 287px;
    height: 49px;
    background: url("/themes/application/images/app/bg-btn-submit-big.png") 50% 0px repeat-x;
}
.simple-btn {
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    line-height: 37px;
    width: 286px;
    height: 41px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
    background: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    cursor: pointer;
}
.simple-btn:hover {
    opacity: 0.9;
}
.brown-btn {
    font-family: Verdana;
    font-size: 12px;
    line-height: 12px;
    background: #282828;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 0px;
    font-weight: normal;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.brown-btn:hover {
    text-decoration: none;
    color: #fff;
    background: #474747;
}


/*Модальные окна, попапы (на основе fancybox)*/
.fancybox-inner {
    overflow: visible !important;
}
.box-popup {
    /*display: none;*/
}
.fancybox-skin {
    background: #fff;
    border-radius: 0px;
}
.fancybox-close {
    top: 0px;
    right: 0px;
    background: url("/themes/application/images/app/popup-cross.png") 50% 50% no-repeat;
}
.box-popup .header {
    height: 35px;
    margin-bottom: 25px;
    padding: 9px 35px 0px 20px;
    background: url("/themes/application/images/app/bg-header-popup.jpg") 0px 0px repeat-x;
}
.box-popup .title {
    margin: 0px;
    font-family: Tahoma;
    color: #fff;
    font-size: 14px;
}
.box-popup .content-popup {
    padding: 0px 20px 20px 20px;
}
/*попап для текста*/
.fancybox-wrap .box-popup-text {
    max-width: 800px;
    padding: 20px;
}

/*Попап алерта*/
#daAlert {

}
#daAlert .modal-body {
    position: relative;
}
#daAlert .modal-content {
    border-radius: 8px;
}
#daAlert .alert-success.modal-content {
    border: 6px solid #c0ddc8;
}
#daAlert .alert-danger.modal-content {
    border: 6px solid #ddb3aa;
}
#daAlert .alert-info.modal-content {
    border: 6px solid #e4e8c7;
}
#daAlert .close {
    position: absolute;
    right: 5px;
    top: 5px;
    background: #fff;
    font-size: 20px;
    border: none;
}
#daAlert .modal-title {
    font-size: 20px;
}
#daAlert .alert-success.modal-footer button {
    background: #91c18d;
    border-radius: 3px;
    color: #5c7c5c;
    border: none;
    padding: 3px 10px;
}
#daAlert .alert-danger.modal-footer button {
    background: #bb958d;
    border-radius: 3px;
    color: #8e756c;
    border: none;
    padding: 3px 10px;
}
#daAlert .alert-info.modal-footer button {
    background: #bfc3a4;
    border-radius: 3px;
    color: #9b9f89;
    border: none;
    padding: 3px 10px;
}

/*Пагинация*/
.pagination {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.pagination li {
    margin: 0px 3px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.pagination a {
    display: block;
    font-family: Verdana;
    font-size: 12px;
    line-height: 12px;
    background: none;
    color: #444;
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 0px;
    font-weight: normal;
}
.pagination li.selected a, .pagination li:hover a, .pagination li.active a {
    background: #282828;
    color: #fff;
    text-decoration: none;
}
.pagination li.hidden, .pagination li.disabled {
    display: none;
}


/*Адаптивность на основе bootstrap*/
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes rotateInDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.rotateInDownRight {
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight;
}

@-webkit-keyframes rotateOutDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        opacity: 1;
    }

    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

@keyframes rotateOutDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        opacity: 1;
    }

    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.rotateOutDownRight {
    -webkit-animation-name: rotateOutDownRight;
    animation-name: rotateOutDownRight;
}

/*Фильтр*/
.box-filter {
    margin-bottom: 40px;
}
.filter-btn {
    margin-left: 10px;
    background: none;
    color: #282828;
}
.filter-btn.active, .filter-btn:hover {
    background: #282828;
    color: #fff;
}
.filter-btn input {
    position: absolute;
    display: none;
}
.filter-btn.all-filter {
    text-transform: lowercase;
    margin-left: 0px;
}


/*Фильтруемые списки*/
#ajaxListView.list-view-loading {
    position: relative;
}
#ajaxListView.list-view-loading .items {
    opacity: 0.5;
    position: relative;
    z-index: 1;
}
#ajaxListView.list-view-loading:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.8;
    background: url('/themes/application/images/app/fancybox_loading.gif') 50% 50px no-repeat;
}

/*Стандартные стили для вывода чередующихся данныых*/
.box-list-items {
    margin: 0px -15px;
}
.box-single-item {
    width: 320px;
    margin: auto;
    margin-bottom: 50px;
    margin-right: 0px;
    padding: 0px 15px;
}
.box-list-items .box-img {
    display: block;
    margin-bottom: 15px;
    position: relative;
}
.box-list-items .box-img img {
    width: 100%;
}
.box-list-items .name {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 18px;
    height: 36px;
}
.box-list-items .name a {
    color: #444444;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    font-weight: bold;
}
.box-list-items .name a:hover {
    text-decoration: underline;
}
.box-list-items .duration {
    font-family: Arial;
    font-size: 13px;
    line-height: 13px;
    color: #444444;
    margin-bottom: 15px;
}
.box-list-items .description {
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
    color: #444444;
    margin-bottom: 15px;
    height: 110px;
}
.box-list-items .date {
    font-size: 12px;
    margin-bottom: 15px;
}
.archive {
    margin-top: 30px;
    clear: both;
}

/*Стили для контента*/
.post-title,
.post-title a,
.post-title span {
    margin: 0px;
    font-family: Verdana;
    color: #444444;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.post-subtitle,
.post-subtitle a,
.post-subtitle span {
    margin: 0px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #444444;
    margin-bottom: 15px;
}
.post-p {
    font-family: Arial;
    font-size: 14px;
    color: #444444;
    line-height: 16px;
}
.post-a {
    color: #2177c9;
    text-decoration: underline;
}
.post-a:hover {
    text-decoration: none;
}
.post-a-this-page {
    color: #2177c9;
    text-decoration: none;
    border-bottom: 1px dashed;
}
.post-a-this-page:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
}
.post-image img {
    max-width: 100%;
    height: auto;
    margin: 2px 0px;
}
.post-image-img {
    max-width: 100%;
    height: auto;
    margin: 2px 0px;
}
.post-text {
    margin: 0px;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    margin-bottom: 15px;
}